@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-icon {
  margin: 1rem;
}
.Toastify__toast-body {
  align-items: center; /* căn giữa icon với chữ */
}